# CAP insura
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
package-lock.json
target/

# Web IDE, App Studio
.che/
.gen/
.idea/
# MTA
*_mta_build_tmp
*.mtar
mta_archives/


# git
.git/

# Other
.DS_Store
*.orig
*.log
